<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.grim.member.model.mapper.MemberMapper" >
 
 	<sql id="selectUser">
 				USER_NO userNo,
 				USER_ID userId,
 				USER_PWD userPwd,
 				USER_ADDRESS userAddress,
 				USER_NAME userName,
 				USER_EMAIL userEmail,
 				ROLE role,
 				USER_STATE userState,
 				USER_DATE userDate,
 				USER_IMG userImg
 	</sql>
 	
 	<select id="findByUserId" parameterType="String">
 		SELECT
 				<include refid="selectUser" />
 		  FROM
 		  		TB_MEMBER
 		 WHERE
 		 		USER_ID = #{userId}
 		   AND
 		   		USER_STATE= 'Y'
 	</select>
 			
 	<select id="findByUserName" parameterType="String">
 		SELECT
 				<include refid="selectUser" />
 		  FROM
 		  		TB_MEMBER
 		 WHERE
 		 		USER_NAME = #{userName}
 		   AND
 		   		USER_STATE = 'Y'
 	</select>
 	
 	<select id="findByUserNo" parameterType="Long">
 		SELECT
 				<include refid="selectUser" />
 		  FROM
 		  		TB_MEMBER
 		 WHERE
 		 		USER_No = #{userNo}
 		   AND
 		   		USER_STATE = 'Y'
 	</select>
 
	<insert id="save">
		INSERT
		  INTO
		  		TB_MEMBER
		  		(
				USER_NO,
				USER_ID,
				USER_PWD,
				USER_ADDRESS,
				USER_NAME, 
			    USER_EMAIL, 
			    ROLE,
			    USER_STATE,
			    USER_DATE,
			    USER_IMG
				)
		VALUES
				(
				SEQ_USER.NEXTVAL,
				#{userId},
				#{userPwd},
				#{userAddress},
				#{userName},
				#{userEmail},
				#{role},
				'Y',
				SYSDATE,
				'NULL'
				)
	</insert>

 
 
 
</mapper>