<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.grim.museum.model.mapper.MuseumMapper" >
 
 	<sql id="museum">
	 	SELECT
				MUSEUM_NAME museumName
				, MUSEUM_SIDONAME museumSidoName
				, MUSEUM_OPEN museumOpen
				, MUSEUM_CLOSE museumClose
				, USER_NO userNo
		  
 	</sql>
 	
	<insert id="saveMuseum" parameterType="museumDTO">
		INSERT 
		  INTO 
		  		TB_MUSEUM
		  		(
				MUSEUM_NAME,
				MUSEUM_SIDONAME,
				MUSEUM_OPEN,
				MUSEUM_CLOSE,
				USER_NO
				) 
		VALUES 
				(
				#{museumName}, 
				#{museumSidoName}, 
				#{museumOpen}, 
				#{museumClose},
				#{userNo}
				)
	</insert>
	
	<select id="getAllMuseum" resultType="museumDTO">
		<include refid="museum" />
		FROM
		  		TB_MUSEUM
	</select>
	
	<select id="getMuseumDetail" resultType="museumDTO">
		<include refid="museum" />
				, USER_NAME museumUserName
		 FROM
		  		TB_MUSEUM
		 JOIN
		 		TB_MEMBER USING (USER_NO)
		WHERE
			  	USER_NO = #{userNo}
	</select>
	
	<select id="getMyMuseum" resultType="museumDTO">
		<include refid="museum" />
				, USER_NAME museumUserName
		FROM
		  		TB_MUSEUM
		 JOIN
		 		TB_MEMBER USING (USER_NO)
		WHERE
			  	USER_NO = #{userNo}
	</select>
	
	<update id="updateMuseum">
		UPDATE 
				TB_MUSEUM 
		   SET 
		   		MUSEUM_NAME = #{museumName}, 
		   		MUSEUM_OPEN = #{museumOpen}, 
		   		MUSEUM_CLOSE = #{museumClose}
		 WHERE
		 		USER_NO = #{userNo}
	</update>
	
	<select id="getHallOfFame" resultType="SearchPaintDTO">
		SELECT 
				PIC_BOARD_NO picBoardNo, 
				PIC_TITLE picTitle, 
				PIC_CONTENT picContent, 
				PIC_NAME picName,
				USER_NAME userName,
				(SELECT COUNT(*) AS "LIKE" FROM TB_PAINT_LIKE WHERE BOARD_NO = PIC_BOARD_NO) "like" 
		  FROM 
		  		TB_PAINT_BOARD
		  JOIN
		  		TB_MEMBER USING (USER_NO)
		  JOIN 
		  		TB_PAINT USING (PIC_BOARD_NO)
		 WHERE 
		 		PIC_BOARD_NO IN (SELECT 
		 								BOARD_NO
								  FROM 
								  		(SELECT 
												BOARD_NO,
												COUNT(*) AS "LIKE"
										  FROM 
												TB_PAINT_LIKE 
										 GROUP 
											BY 
												BOARD_NO
										 ORDER
											BY 
												"LIKE" DESC)
										  WHERE
										        ROWNUM &lt; 4)
	</select>
 
</mapper>